---
import SectionLayout from '../layouts/SectionLayout.astro'
---

<SectionLayout>
    <p class="mb-5">
        Desarrollador web con más de 4 años de experiencia utilizando Wordpress y tambien como programador Full Stack. He trabajado en proyectos desafiantes los cuales me han permitido desarrollar la habilidad de adaptarme a nuevas tecnologias y entornos haciendo sitios web, tiendas en linea y desarrollos a medida.
    </p>
    <p>
        Mi objetivo es contribuir en el desarrollo de proyectos que valoren la calidad del código y la innovación, permitiéndome ser parte integral de la creación de productos significativos que superen las expectativas en rendimiento y presentación, para sentirme orgulloso de cada línea de código que escribo.
    </p>
</SectionLayout>