---
import Menu from './Menu.astro';
import SocialLinks from './SocialLinks.astro';
---

<aside class="md:w-4/12 gap-5 h-full flex flex-col justify-between pt-28 pb-16">
    <article>
        <img src="../../public/photo.webp" class="md:w-4/6 w-[50%] rounded-full border-8 border-white mb-7"/>
        <h1 class="text-blue-500 font-black text-4xl">Hola! Soy Diego 👋</h1>
        <h4 class="text-white text-2xl mt-2 mb-5">Desarrollador Web</h4>
        <p class="text-gray-400 leading-5">Construyo soluciones enfoncadas en la simplicidad de uso para sus usuarios</p>
    </article>
    <Menu />
    <SocialLinks />
</aside>