---
import GithubIcon from './Icons/GithubIcon.astro'
import LinkedinIcon from './Icons/LinkedinIcon.astro'
import EmailIcon from './Icons/EmailIcon.astro'
---

<ul class="flex flex-row gap-3">
    <li><a href="#"><GithubIcon /></a></li>
    <li><a href="#"><LinkedinIcon /></a></li>
    <li><a href="#"><EmailIcon /></a></li>
</ul>